.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: var(--background);
}

.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1.5rem;
    margin: 7% auto;

    width: fit-content;

    border: 2px solid var(--text-primary);
    border-radius: 5px;

    background-color: var(--background-card);
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-bottom: .25rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--text-primary);
    font-size: 1.5rem;
}

.header > :first-child {
    margin-right: auto;
    font-family: var(--font-subheading);
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 1.25rem;
}

form > :last-child {
    margin-left: auto;
}

label {
    width: 100%;
}

input {
    display: block;
    margin-top: .25rem;
    margin-bottom: 1rem;
    padding: .15rem .5rem;
    font-size: 1.25rem;
    
    border: 1px solid var(--text-primary);
    border-radius: 5px;
}



.footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

